{% extends "hello.html" %}

{% block content %}

<h1>Dress recommender</h1>

<form action="http://localhost:5000/thanks" method="post" novalidate>
{{ form.hidden_tag() }}
<div>
<label>
	<input type="radio" name="choice" id= {{ form.fabric.label }} value= {{ form.fabric }} />
</label>
</div>
<div>
<label>
	{{ form.occasion.label }}<br>
	{{ form.occasion }}<br>
</label>
</div>
<div>
<label>
	{{ form.pattern.label }}<br>
	{{ form.pattern }}<br>
</label>
</div>
<p>{{ form.submit() }}</p>
</form>
{% endblock %}