<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Dress Recommender</title>
    <style type="text/css">
        .table {
                margin-top: 0px;
                border-collapse: collapse;
                padding: 0px;
            }
    .bleh br{
        display: none;
	    }
    </style>
	
</head>
<body>

<div style="background-color:182773">
<h2 style="color: white; font-size:20px">Dress recommender</h2>
<br>
</div>


<form action="http://localhost:5000/thanks" method="post" novalidate>
<input id="csrf_token" name="csrf_token" type="hidden" value="ImNmNzg2MjI0N2MxZjkxNmJhMTc4YjViYjJhMWRjZGFhNjZkYjcwMzUi.XVEb5w.5cQj4O0Uli-pneev3tDnYtF_srE">

<div id="bleh" style="font-size:16px; color: black"><b>Choose your dress preferences</b></div>
<div style="background-color:C8C9CB">
<table> <tr><td><label for="fabric" style="font-size:15px; color:black">Fabric</label></td><br>
<td><label for="occasion" style="font-size:15px; color: black">Occasion</label></td><br>
<td><label for="pattern" style="font-size:15px; color:black">Pattern</label></td><br></tr>
<tr><td><input id="fabric-0" name="fabric" type="radio" value="Polyester"> <label for="fabric-0" style="font-size:13px; color: black">Polyester</label></td><br>
<td><input id="occasion-0" name="occasion" type="radio" value="Casual"> <label for="occasion-0" style="font-size:13px; color: black">Casual</label></td><br>
<td><input id="pattern-0" name="pattern" type="radio" value="Floral"> <label for="pattern-0" style="font-size:13px; color: black">Floral</label></td><br></tr>
<tr><td><input id="fabric-1" name="fabric" type="radio" value="Blended"> <label for="fabric-1" style="font-size:13px; color: black">Blended</label></td><br>
<td><input id="occasion-1" name="occasion" type="radio" value="Ethnic"> <label for="occasion-1" style="font-size:13px; color: black">Ethnic</label></td><br>
<td><input id="pattern-1" name="pattern" type="radio" value="Solid"> <label for="pattern-1" style="font-size:13px; color: black">Solid</label></td><br></tr>
<tr><td><input id="fabric-2" name="fabric" type="radio" value="Viscose-Rayon"> <label for="fabric-2" style="font-size:13px; color: black">Viscose-Rayon</label></td><br>
<td><input id="occasion-2" name="occasion" type="radio" value="Party"> <label for="occasion-2" style="font-size:13px; color: black">Party</label></td><br>
<td><input id="pattern-2" name="pattern" type="radio" value="Geometric"> <label for="pattern-2" style="font-size:13px; color: black">Geometric</label></td><br></tr>
<tr><td><input id="fabric-3" name="fabric" type="radio" value="Georgette"> <label for="fabric-3" style="font-size:13px; color: black">Georgette</label></td><br></tr>
<tr><td><input id="fabric-4" name="fabric" type="radio" value="Cotton"> <label for="fabric-4" style="font-size:13px; color: black">Cotton</label></td></label><br></table></div>
<div style="background-color:C8C9CB"><input id="submit" name="submit" type="submit" value="submit"></div>




</form>

</body>
</html>
