<html>
  <head>
     <title>Demo Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
 <body>

 	<div class="container"><br>
      <center>
        <h2>Flask Web Form Demo</h2>
      </center>
    </div>
<div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
        	<div id="radios1" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
{% for button in buttons %}
        <button type="button" class="btn active" name="choice1" value="{{ button }}">{{ button }}</button>
{% endfor %}
</div>
<div id="radios2" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
{% for button in buttons1 %}
        <button type="button" class="btn active" name="choice1" value="{{ button }}">{{ button }}</button>
{% endfor %}
</div>
<div id="radios3" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
{% for button in buttons2 %}
        <button type="button" class="btn active" name="choice1" value="{{ button }}">{{ button }}</button>
{% endfor %}
</div>
<center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
</div>
</form>
</div>
</div>
</div>
</body>
</html>

